@import url('https://fonts.googleapis.com/css?family=roboto');

body {
    box-sizing: border-box;
    margin: 0;
}

#header {
    display: flex;
}

.buscador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    border: none
}

.buscador i {
    color:gray;
    font-size: 17px;
}

.logo {
    background: #081c24;
    width: 95px;
    height: 75px;
    display: flex;
    justify-content: center
}

.logo img {
    width: 35px;
    height: auto;
}

#cuerpo {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

#barra-lateral {
    width: 102px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: gray;
}

#contenido {
    width: 100%;
    height: 384px;
}

.atributo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    margin-top: 22px;
    margin-bottom: 22px;
}

#barra-lateral i{
    font-size: 20px;
}

.banner {
    width: 100%;
    height: 384px;
    background-image: url("batman.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.banner .caja {
    background: hsla(0,0%,97%,.7);
    height: 100%;
    color: #081c24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .caja p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.peliculas {
    padding-left: 55px;
    padding-right: 55px;
    background: #f8f8f8;
}

.categoria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #081c24;
    align-items: center
}

.all {
    font-size: 13px;
    color: rgba(8,28,36,.5)
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.peli img {
    width: 170px;
    height: auto;
}

.peli p {
    color: rgba(8,28,36,.5);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-rated {
    margin-top: 35px;
}

.upcoming {
    margin-top: 35px;
}

.now-playing {
    margin-top: 35px;
}